<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Classes</title>
	{% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
		<main class="containter"> 
			<div>
				<a class="btn btn-outline-primary" href="/" role="button">Home</a>
				<a class="btn btn-outline-primary" href="" role="button">Dashboard</a>
				<a class="btn btn-outline-primary" href="/logout" role="button">Logout</a>
				<a class="btn btn-outline-primary" href="" role="button">Roster</a>
			</div>
			<br>
			<h2> All Classes List </h2>
			<p>This table lists all of the classes and assignments for one Teacher.</p>            
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Subject</th>
						<th>Student</th>
						<th>Assignment</th>
						<th>Description</th>
						<th>Lecture Links</th>
						<th>Action </th>
					</tr>
				</thead>
				<tbody>
					{% for student in all_student %}
						<tr>
							<td>Math</td>
							<td><a href="/student_assign/{{student.id}}"> {{student.first_name}} {{student.last_name}} </a></td>
							<td>None </td>
							<td>Description</td>
							<td>Lecture</td>
							<td><a href="/edit_assign">Edit</a> | <a href="/delete/{{student.id}}">Delete</a> | <a href="inbox/{{student.id}}">Send Messages</a></td>
							<!-- "/edit_assign/{{assignment.id}}/update" -->
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- <div class="starter-template text-center py-5 px-3">
			<div class="card">
				<div class="card-body">
					<h2>Add a Student</h2>
						{% if messages %}
							<ul class="messages">    
    						{% for message in messages %}    
       							<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
   							{% endfor %}
							</ul>
						{% endif %} 

						<form action="/add_student" method="POST">
							{% csrf_token %}
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
								<input type="text" class="form-control" id="floatingPassword" name="first_name" placeholder="First Name">
							</div>
							<div class="input-group mb-3">
								<span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
								<input type="text" class="form-control" id="floatingPassword" name="last_name" placeholder="Last Name">
							</div>
							<div class="input-group mb-3">
								<label class="input-group-text" for="inputGroupSelect01" id="inputGroup-sizing-default" name="subject">Subject</label>
								<input type="text" class="form-control" id="floatingPassword" name="skill_level"> 
								<select class="form-select" id="inputGroupSelect01" name="subject" >
									<option value="{{subject.id}}" selected>Choose...</option>
								</select> 
							</div>
							<button class="btn btn-primary" type="submit">Submit</button>
						</form>
					</div>
				</div>  -->
			</div>
		</main>
	</div>
</body>
</html>