<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm">
        <h1>{{ subject.name }} Page</h1>
        <a class="ml-auto nav-link p-2" href="/profile">Home</a> |
        <a class="nav-link p-2" href="/roster/{{subject_id}}">Class Roster</a>
        <a class="btn ml-1 inbox-btn" href="/inbox/{{user.id}}">Inbox</a>
        <a href="/logout" class="btn ml-1 logout">Logout</a>
    </header>
    <div class="d-flex ml-auto mr-auto">
        <div class="w-50 py-5 px-3">
            <table class="table table-bordered table-striped table-hover ml-5">
                <thead>
                    <tr class="table-header">
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in subject.subject_assignments.all %}
                    <tr>
                        <td class="table-link">{{assignment.title}}</td>
                        <td>{{assignment.due_date|date:'Y-m-d'}}</a></td>
                        <td>{{assignment.description}}</td>
                        <td>
                            <nav>
                                <a class="table-link" href="/assignments/{{ assignment.id }}/edit">Edit</a> |
                                <a class="table-link" href="/assignments/{{ assignment.id }}/delete">Delete</a>
                            </nav>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="starter-template text-center py-5 px-3 w-50">
            <div class="card w-75 ml-auto mr-auto shadow-sm">
                <div class="card-body">
                    <h3>Add Assignment</h3>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="/create_assignment/{{subject.id}}" method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <span class="input-group-text assignment-form-label"
                                id="inputGroup-sizing-default">Title:</span>
                            <input type="text" class="form-control" id="floatingPassword" name="title">
                        </div>
                        <div class="form-group mb- date">
                            <span class="input-group-text assignment-form-label" id="inputGroup-sizing-default">Due
                                Date:</span>
                            <input type="date" name="due_date" class="form-control datepicker" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="form-group mb-3">
                            <span class="input-group-text assignment-form-label"
                                id="inputGroup-sizing-default">Description:</span>
                            <textarea class="form-control" rows="3" cols="20" name="description"></textarea>
                        </div>
                        <button class="btn submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div> 
        <h1>Add Student</h1>
        {% if messages %}
		<ul>
			     {% for message in messages %}
			        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
			    {% endfor %}
		</ul>
		{% endif %}
        <form action="/add_student" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="first_name"
                        placeholder="First Name">
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                </div>
                <input class="btn btn-primary" type="submit" value="Add Student"> 
                <!-- <button type="button" class="btn btn-primary">Add Student</button>  -->
            </div>
        </form>
    </div>
</body>

</html>