<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Class</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm">
        <h2> Edit {{ subject.name }} Page</h2>
        <a class="ml-auto nav-link p-2" href="/profile">Home</a> |
        <a class="nav-link p-2" href="/all_tasks">Task List</a> |
        <a class="nav-link p-2" href="/add_student">Add Student</a>
        <a class="btn ml-1 inbox-btn" href="/inbox/{{user.id}}">Inbox</a>
        <a href="/logout" class="btn ml-1 logout">Logout</a>
    </header>
    <div class="starter-template text-center py-5 px-3 w-75 ml-auto mr-auto">
        <div class="card w-50 ml-auto mr-auto">
            <div class="card-body">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="/subjects/{{edit_subject.id}}/update" method="post">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <span class="input-group-text class-form-label" id="inputGroup-sizing-default">Class
                            Name:</span>
                        <input type="text" class="form-control" id="floatingPassword" name="new_name"
                            value="{{edit_subject.name}}">
                    </div>
                    <div class="form-group mb-3">
                        <span class="input-group-text class-form-label" id="inputGroup-sizing-default">Lecture
                            URL:</span>
                        <input type="text" class="form-control" id="floatingPassword" name="new_url"
                            value="{{edit_subject.url}}">
                    </div>
                    <div class="form-group mb- date">
                        <span class="input-group-text class-form-label" id="inputGroup-sizing-default">Lecture
                            Date:</span>
                        <input type="date" name="new_lecture_date" value="{{edit_subject.lecture_date|date:'Y-m-d' }}"
                            class="form-control datepicker" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="form-group mb-3">
                        <span class="input-group-text class-form-label"
                            id="inputGroup-sizing-default">Description:</span>
                        <textarea class="form-control" rows="3" cols="20"
                            name="new_description">{{edit_subject.description}}</textarea>
                    </div>
                    <a href="/profile" role="button" class="btn btn-warning font-weight-bold">Cancel</a>
                    <button class="btn submit" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>