<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student's Assignment </title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="container">
		<main class="containter">
			<div class="starter-template text-center py-5 px-3">
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a class="btn btn-outline-primary" href="/" role="button">Main</a>
					<a class="btn btn-outline-primary" href="/logout" role="button">Logout</a>
					<!-- <a href="/profile" class="btn btn-primary">Register</a> -->
				</div>
				<h1>Edit Assignment</h1>
				<form action="/assignments/{{edit_assignment.id}}/update" method="POST" class="form-example">
					{% csrf_token %}
					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Title</span>
						<input type="text" class="form-control" id="floatingPassword" name="new_title" value="{{edit_assignment.title}}">
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Due Date</span>
						<input type="date" class="form-control" id="floatingPassword" name="new_due_date" value="{{edit_assignment.due_date|date:'Y-m-d'}}">
					</div>
					<div class="input-group mb-3">
						<span class="input-group-text" id="inputGroup-sizing-default">Description</span>
						<textarea class="form-control" name="new_description" rows="5" id="comment">{{edit_assignment.description}}</textarea>
						<!-- <input type="text" class="form-control" id="floatingPassword" name="Title" placeholder="Subject"> -->
					</div>
						<!-- <label for="name">Description: </label>
						<textarea class="form-control" name="desc" rows="5" id="comment"></textarea>
					</div> -->
					<div>
						<a href="/subject_page" role="button" class="btn btn-warning">Cancel</a>
						<button type="submit" class="btn btn-primary btn-sm"> Update </button>
					</div>
				</form>
			</div>
		</main>
	</div>

</body>
</html>