<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>School Scheduler</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body class="body">
	<header id="header" class="bg-white d-flex p-3 align-items-center">
        <h2 class="pr-5 mb-0">School Scheduler</h2>
        <a href="/login_reg" class="btn btn-lg ml-auto" id="sign-in">Sign In</a>
    </header>
    <div class="m-5 p-5"></div>
    <div class="about w-75 d-flex ml-auto mr-auto p-5">
        <div class="w-25 text-center m-2 p-2">
            <h4>Tracking System</h4>
            <p>Teachers can keep track of all their classes, assignments, and students in one convenient location.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <h4>Contact Parents</h4>
            <p>Contact parents right from the portal through our inbox system.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <h4>Feature 3</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, rem?.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <h4>Feature Four</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, reiciendis!</p>
        </div>
    </div>

</body>
</html>