<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Scheduler</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center">
        <h2 class="pr-5 mb-0">School Scheduler</h2>
        <a href="/login_reg" class="btn btn-lg ml-auto" id="sign-in">Sign In</a>
    </header>
    <div class="m-5 p-3"></div>
    <div class="about w-75 d-flex ml-auto mr-auto p-5 rounded">
        <div class="w-25 text-center m-2 p-2">
            <img src="\static\img\tracking_img.jpg" alt="schedule" class="info-img img-thumbnail">
            <h4 class="mt-2 mb-2">All in One System</h4>
            <p>Teachers can keep track of all their classes, assignments, and students in one convenient location.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <img src="\static\img\mailbox.jpg" alt="inbox" class="info-img img-thumbnail">
            <h4 class="mt-2 mb-2">Built in Messaging</h4>
            <p>Contact parents or teachers right from the portal through our inbox system.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <img src="\static\img\parent_student.jpg" alt="parent portal" class="info-img img-thumbnail">
            <h4 class="mt-2 mb-2">Parent Portal</h4>
            <p>Parents can see their student's schedule, upcoming assignments, and more.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <img src="\static\img\lecture.jpg" alt="lessons" class="info-img img-thumbnail">
            <h4 class="mt-2 mb-2">Easy Access for Online Classes</h4>
            <p>Class meetings are accessable right through the portal.</p>
        </div>
    </div>

</body>

</html>