<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <div class="container">
        {% if messages %}
		<ul class="messages">    
    		{% for message in messages %}    
       		<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
   			{% endfor %}
		</ul>
		{% endif %}
		<main class="containter">
			<div class="starter-template text-center py-5 px-3">
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a class="btn btn-outline-primary" href="/" role="button">Main</a>
					<a class="btn btn-outline-primary" href="/logout" role="button">Logout</a>
					<!-- <a href="/profile" class="btn btn-primary">Register</a> -->
				</div>
				<h1> Registration Form</h1>
				<p class="lead">Manage all school appointments in one place.</p>
					<div class="card">
						<div class="card-body">
							<form action="create_user" method="POST">
								{% csrf_token %}
									<div class="input-group mb-3">
										<span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
										<input type="text" class="form-control" id="floatingPassword" name="first_name" placeholder="First Name">
									</div> 
									<div class="input-group mb-3">
										<span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
										<input type="text" class="form-control" id="floatingPassword" name="last_name" placeholder="Last Name">
									</div>
									<div class="input-group mb-3">
										<span class="input-group-text" id="inputGroup-sizing-default">Email</span>
										<input type="text" class="form-control" id="floatingPassword" name="email" placeholder="name@example.com">
									</div>

									<div class="input-group mb-3">
										<span class="input-group-text" id="inputGroup-sizing-default">Password</span>
										<input type="text" class="form-control" id="floatingPassword" name="password" placeholder="Password">
									</div>

									<div class="input-group mb-3">
										<span class="input-group-text" id="inputGroup-sizing-default">Confirm Password:</span>
										<input type="text" class="form-control" id="floatingPassword" name="confirm_password"placeholder="Confirm Password">
									</div> 

									<div class="input-group mb-3">
										<label class="input-group-text" for="inputGroupSelect01" id="inputGroup-sizing-default" name="role">Role</label>
										<select class="form-select" id="inputGroupSelect01" name="role" >
											<option value="0" selected>Choose...</option>
											<option value="1">Teacher</option>
											<option value="2">Parent</option>
										</select> 
									</div>
									<button class="btn btn-primary" type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div>
					<h2>Login Form</h2>
					<form action="/login" method="POST">
						{% csrf_token %}
						<div class="input-group mb-3">
							<span class="input-group-text" id="inputGroup-sizing-default">Email</span>
							<input type="text" class="form-control" id="floatingPassword" name="email" placeholder="name@example.com">
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text" id="inputGroup-sizing-default">Password</span>
							<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="name@example.com">
						</div>
						<button class="btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
			</div>
		</main>
		
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script> 

</body>
</html>