<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox - New Message</title>
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="new-message-background">
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm">
		<h2 class="pr-5 mb-0">Compose a message</h2>
        <a href="/profile" class="btn ml-auto">Home</a>
        <a href="inbox/{{user.id}}" class="btn ml-1 inbox-btn">Inbox</a>
        <a href="/logout" class="btn ml-1 logout">Logout</a>
	</header>
    <div class="w-50 ml-auto mr-auto mt-5 new-message-form rounded shadow-sm p-4">
        <div class="w-75 ml-auto mr-auto">
            <h3>New message:</h3>
            <form id="send_message" action="/send" method="POST">
                {% csrf_token %}
                <div class="w-75 ml-auto mr-auto mb-3">
                    <label for="Subject">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="w-75 ml-auto mr-auto mb-3">
                    <label for="message">Message</label>
                    <textarea class="form-control" id='message_body' name='message'></textarea>
                </div>
                <div class="w-75 ml-auto mr-auto mb-3">
                    <label for="recipient">Choose a recipient:</label>
                    <select class="form-control" id="recipient" name="recipient">
                        {% for u in all_users %} 
                        <option value="{{u.id}}">{{u.first_name}} {{u.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="w-75 ml-auto mr-auto mb-3">
                    <input type="submit" name="submit" id="submit" class="btn submit" value="Send">          
                </div>
            </form>
        </div>
        
    </div>
</body>
</html>