<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome Parent</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='main.js'></script>
</head>
<body>
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm mb-5">
        <h1>Welcome, {{user.first_name}} {{user.last_name}}</h1>
        <a class="btn ml-auto inbox-btn" href="/inbox/{{user.id}}">Inbox</a>
        <a href="/logout" class="btn ml-1 logout">Logout</a>
    </header>
    <div class="d-flex ml-auto mr-auto">
        <div class="w-50">
            <h2 class="text-center">My Attending Children</h2>
            <div class="ml-auto mr-auto w-50">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="table-header">
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in mystudents %}  <!-- This grabs the filtered my students using my user id-->
                            <tr>
                                <td>{{student.first_name}} {{student.last_name}} </td>
                                <td><a class="table-link" href="/viewstudent/{{student.id}}">Student Page</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
        <div class="w-50">
            <h2 class="text-center">Assigning Children</h2>
            <div class="ml-auto mr-auto w-50">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr class="table-header">
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in notmystudents %}  <!-- This grabs the filtered not my students using my user id-->
                            <tr>
                                <td>{{student.first_name}} {{student.last_name}}</td>
                                <td><a  class="table-link" href="/assignparent/{{student.id}}">Assign</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
    

    

</body>
</html>