<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page </title>
    {% load static %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm">
        <h2>{{this_student.first_name}}'s Assignment List </h2>
        <a class="btn ml-auto inbox-btn" href="/inbox/{{user.id}}">Inbox</a>
        <a href="/logout" class="btn ml-1 logout">Logout</a>
    </header>
        <p>This table lists all of the assignments for one student.</p>            
        <table class="table table-striped">
			<thead>
				<tr>
					<th>Subject</th>
					<th>Title</th>
					<th>Description</th>
					<th>Teacher</th>
					<th>Due Date</th>
				</tr>
			</thead>
			<tbody>
				{% for subject in this_student.enrolled_subjects.all  %}
					{% for assignment in subject.subject_assignments.all %}
				<tr>
					<td>{{subject.name}}</td>
					<td>{{assignment.title}}</td>
					<td>{{assignment.description}}</td>
					<td>{{assignment.teacher.first_name}} {{assignment.teacher.last_name}}</td>
					<td>{{assignment.due_date|date:'Y-m-d'}}</td>
				</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>


</body>
</body>
</html>